@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
 
  }

  body{
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

  }

  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fbcd08;
    transition: opacity 7s, visibility .5s;
  }
  
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #505050;
    border-top-color: #000;
    border-radius: 50%;
    animation: loading .25s ease infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }
  


  /* .loader {
    border: 16px solid #e3e3e3;
    border-top: 16px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
    background: url(loading.png);
    
  } */
  /* .loading__letter {
font-size: 38px;
font-weight: normal;
letter-spacing: 4px;
text-transform: uppercase;
animation-name: bounce;
animation-duration: 2s;
animation-iteration-count: infinite;
display: flex;
flex-direction: row;
text-align: start;
}


  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .loading_img img{
    max-width: 100%;
    width: 200px

  } */

  

header{
    height: 100vh;
    width: 100%;
    background-color: #fbcd08;
}

  .navbar{
    max-width: 100%;
    height: 80px;
    width: 100vw;
  }

  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    margin: auto;



  }

  .logo img{
    width:100px;

  }

  nav ul{
    display: flex;

  }

  nav ul li {
    margin: 0 2em;
    list-style-type: none;
  }

  nav ul li a {
    text-decoration: none;
    color: #000;

  }

  .head {
    padding:0 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70vh;

  }

  .head-img img{
    width: 400px;
    border-radius: 8px;

  }

  .head-text{
    width:500px;
    text-align: center;
  }

  .head-text h1{
    font-size: 3em;
    line-height: 1em;
    margin-bottom: .5em;

  }

  .head-text p{
    font-size: 15px;
    line-height: 1.25em;
    letter-spacing: .35px;
    margin-bottom: 2em;
    color: #505050;
    font-weight: 500;

  }

  .head-btn{
    align-self: auto;
  }


  .head-btn a{
    background-color: #000;
    padding: 1em 3em;
    color: #e3e3e3;
    text-decoration: none;
    
  }

