.logo {
  width: 100px;
  align-content: center;
}

.copyRightSt {
  font-size: smaller;
}
.SettingsPane{
  background:linear-gradient(90deg, #b79913, #ceab10, #FBCD08);
  border: 2px solid #372E18;
  border-radius: 10px;
}
