.leftPaneBox
{
    background-color: #fbcd08;
    border-radius: 10px;
    
}
.sugarcontainer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.addsugarsontainer{
    text-align: center;
    border-radius: 10px;
    background-color: #372e18;
    padding: 4%;
    color: #fbcd08;
}
.sugarinput:focus{
    background-color: #fbcd08 !important;
    box-shadow: 0 0 15px #fbcd08 !important;
    transition: 500ms;
}
.sugarinput{
    background-color: #fddc49 !important;
}
#sub1{
    background-color: #ffd417;
}
#sub2{
    background-color: #fcd83a !important;
}
#sub3{
    background-color: #ffe159 !important;
}

.infopane{
    display: flex;
}
.subinfo{
    text-align: center;
    margin: 2% 0 5% 0;
    padding-top: 2%;
}

.subinfo:hover{
    box-shadow: 0 1px 10px #372e18;
    transition: 300ms;
}
hr {
    width: 40px;
    color: black;
    margin-left: 50%;
    margin-right: 50%;

}
.userInputSummery{
    display: flex;
}
.vl
{
    border-left: 2px solid #372e18;
    margin-left: 5px;
    margin-right: 5px;
  height: 30px;
}
.iconPane{
    display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin-left: 5%;

  padding: 5px 0;
}
span {
    width: 100px;
    height: 50px;
    background-color: #ffe159 !important;
    border-radius: 10px;
    align-content: center;
    

  }

.addBoxIcon, .settingsIcon, .medicationIcon{
    cursor: pointer;
}
.sugarLevelInfo{
    text-align: center;
    margin: 2% 0 5% 0;
    padding-top: 2%;
    background-color: #ffe159 !important;
    border-radius: 10px;
}
.sugarLevelInfo:hover{
    box-shadow: 0 1px 10px #372e18;
    transition: 300ms;
}
.recentChanges{
    margin-left: 50px;
}
