.leftPaneBox {
  background-color: #fbcd08;
  border-radius: 10px;
}
.sugarcontainer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 100px;
}
.SettingsPane{
  position: fixed;
  z-index: 9999;

}
.nav-background{
  background-color: #FBCD08;
  border-bottom: 1px solid #b39200;
}
.addsugarcontainer {
  text-align: center;
  border-radius: 10px;
  background-color: #372e18;
  padding: 4%;
  color: #fbcd08;
}
.sugarinput:focus {
  background-color: #fbcd08 !important;
  box-shadow: 0 0 15px #fbcd08 !important;
  transition: 500ms;
}
.sugarinput {
  background-color: #fddc49 !important;
}
#sub1 {
  background-color: #ffd417;
}
#sub2 {
  background-color: #fcd83a !important;
}
#sub3 {
  background-color: #ffe159 !important;
}

.infopane {
  display: flex;
}
.subinfo {
  text-align: center;
  margin: 2% 0 5% 0;
  padding-top: 2%;
}

.subinfo:hover {
  box-shadow: 0 1px 10px #372e18;
  transition: 300ms;
}
hr {
  width: 40px;
  color: black;
  margin-left: 50%;
  margin-right: 50%;
}
.userInputSummery {
  display: flex;
}
.setting-pane{
  z-index: 999;
}
.vl {
  border-left: 2px solid #372e18;
  margin-left: 5px;
  margin-right: 5px;
  height: 30px;
}
.iconPane {
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin-left: 5%;
  margin-top: 3%;

  padding: 5px 0;
}
/* .span-buttons {
  width: 80px;
  height: 80px;
  background-color: #ffe159 !important;
  border-radius: 100%;
  align-content: center;
}
.span-buttons:hover{
  box-shadow: 0 0 20px #372e18;
} */

.span-buttons {
  width: 80px;
  height: 80px;
  border: none;
  outline: none;
  color: #372e18;
  background: #fbcd08;
  cursor: pointer;
  position: relative;
  z-index: 0;
  text-align: center;
  padding: 1.5%;
  border-radius: 100%;
  font-weight: 400;
}

.span-buttons:before {
  content: "";
  background: linear-gradient(
    45deg,
    #fbcd08,
    #372e18,
    black,
    #fbcd08,
    #372e18,
    black
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(8px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 40s linear infinite;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  border-radius: 100%;
}

.span-buttons:active {
  color: #fbcd08;
}
.span-buttons:not(active) {
  transition: 400ms;
}

.span-buttons:active:after {
  background: #372e18;
  box-shadow: 0 0 20px #372e18;
  transition: 100ms;
}

.span-buttons:hover:before {
  opacity: 1;
}

.span-buttons:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  background: #ffda34;
  left: 0;
  top: 0;
  border-radius: 100%;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.title-font{
  font-size: 16px;
  font-weight: 400;
}

.addBoxIcon,
.settingsIcon,
.medicationIcon {
  cursor: pointer;
}
.changes-data{
  font-size: 20px;
}
.changes-data-recent{
  padding-top: 10px;
  font-size: 50px;
}
.sugarLevelInfo {
  padding-top: 8%;
  height: 12em;
  width: 20em;
  text-align: center;
  margin: 2% 0 5% 0;
  background:linear-gradient(90deg, #ffe263, #ffd930, #FBCD08, #eec200) !important;
  color: #372e18;
  border-radius: 10px;
  padding-left: 5%;
  padding-right: 5%;
}
.sugarLevelInfo:hover {
  box-shadow: 0 1px 20px #9e7a1e;
  transition: 300ms;
}


.navBar {
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background-color: none;
}
.medication-reminder-block:hover{
  background-color: #FBCD08;
  transition: 100ms;
  color: #372e18;
  border: 8px inset #372e18;
}
.medication-pane{
  border-radius: 10px;
}
.medication-reminder-block:not(:hover){
 transition: 500ms;
 border: 8px inset #372e18;
 background-color: #372e18;
 color: #FBCD08;
}
.nav-menu {
  /* background:linear-gradient(90deg, #ffe263, #ffd930, #FBCD08, #eec200); */
  background:linear-gradient(90deg, #ffe263, #ffd930, #FBCD08, #eec200) !important;
  color: #372e18;
  border: 2px solid #372e18;
  width: 385px;
  height: 60vh;
  border-radius: 10px;
  display: block;
  /* justify-content:left; */
  position: fixed;
  top: 0;
  left: -100;
  transition: 50ms;
  z-index: 1;
}

.nav-menu .active {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 8px 0px 8px 16px;
  height: 50px;
}
.settings-block:hover{
  background-color: #FBCD08;
  transition: 100ms;
  color: #372e18;
  border: 8px inset #372e18;
}

.settings-block:not(:hover){
 transition: 500ms;
 border: 8px inset #372e18;
 background-color: #372e18;
 color: #FBCD08;
}
