.ExRecomPane
{
    background-color: #372E18;
    color: #fad327;
    font-weight: 600;
    text-align: center;
    height: 98%;
    width: 99%;
    padding: 45px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 22px;
}
.exerCard{
    background-color: #ffd415;
    
}

.exerCardTitle{
    color: #372E18;
    font-weight:bold;
}
.table-container{
    display: flex;
    justify-content: center;
}
