.logoNoBackground1Icon,
.undrawMedicineB1Ol1Icon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.logoNoBackground1Icon {
  height: 17.19%;
  width: 14.53%;
  top: 8.5%;
  right: 42.77%;
  bottom: 74.31%;
  left: 42.71%;
  object-fit: cover;
}
.undrawMedicineB1Ol1Icon {
  height: 54.43%;
  width: 50.75%;
  top: 29.1%;
  right: 47.74%;
  bottom: 16.47%;
  left: 1.5%;
}
.openStopFor,
.text {
  position: absolute;
  top: 813px;
  left: 999px;
  display: inline-block;
  height: 29px;
}
.openStopFor {
  height: 5.91%;
  width: 30.38%;
  top: 34.83%;
  left: 64.06%;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
}
.splashScreenChild {
  position: absolute;
  height: 6.71%;
  width: 24.48%;
  top: 76.54%;
  right: 7.99%;
  bottom: 16.74%;
  left: 67.53%;
  border-radius: 20px;
  background-color: #372e18;
}
.diatrackerIsBuilt,
.getStarted {
  position: absolute;
  text-align: center;
  display: inline-block;
}
.getStarted {
  height: 2.95%;
  width: 9.09%;
  top: 78.42%;
  left: 75.23%;
  font-size: 20px;
  font-weight: 800;
  color: #fff;
}
.diatrackerIsBuilt {
  height: 16.03%;
  width: 25.29%;
  top: 54.25%;
  left: 67.13%;
  font-size: 24px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.63);
}
.splashScreen {
  position: relative;
  background-color: #fbcd08;
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}

